.header {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.rightNav > ul {
  display: flex;
  list-style: none;
}

.rightNav > ul > li {
  position: relative;
}

.rightNav > ul > li:hover .dropdown {
  display: block;
  animation: fadeInDropdown 200ms 10ms forwards;
}

.dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
}

.dropdownParent {
  position: relative;
}

.dropdownParent:hover .dropdown {
  display: block;
  animation: fadeInDropdown 200ms 10ms forwards;
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
