.card {
  height: 70vh;
  position: relative;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card img {
  object-fit: cover;
  z-index: -1;
}

.card h1 {
  z-index: 10;
  color: rgb(255, 215, 40);
  font-size: 3.5rem;
}

.card p {
  color: rgb(250, 212, 41);

  font-weight: bold;
  font-size: 1.5rem;
}

.small {
  flex: 0 0 15%;
  justify-content: flex-end;
}

.medium {
  flex: 0 0 calc(33.3333333% - 2rem);
}

.large {
  flex: 0 0 calc(50% - 2rem);
}

@media (max-width: 600px) {
  .card {
    flex: 0 0 calc(100% - 2rem);
    height: 50vh;
  }
} ;
